<!-- ======= About Section ======= -->
<section id="about" class="about">

    <div class="container" data-aos="fade-up">
        <div class="row gx-0">

            <div class="col-lg-6 d-flex flex-column justify-content-center" data-aos="fade-up" data-aos-delay="200">
                <div class="content">
                    <h3>Crores of taxes saved and counting
                    </h3>
                    <h2>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus ad totam nam
                        necessitatibus sint cupiditate .</h2>
                    <p>

                        We are India's most trusted tax filing platform
                    </p>

                    <ul>
                        <li>
                            Maximum tax saving guarantee

                        </li>
                        <li>Live chat with your tax expert
                        </li>
                        <li>On-demand tax filing support
                        </li>
                    </ul>
                    <div class="text-center text-lg-start">
                        <a href="#"
                            class="btn-read-more d-inline-flex align-items-center justify-content-center align-self-center">
                            <span>Read More</span>
                            <i class="bi bi-arrow-right"></i>
                        </a>
                    </div>
                </div>
            </div>

            <div class="col-lg-6 d-flex align-items-center" data-aos="zoom-out" data-aos-delay="200">
                <h3>SS Advisor Notifications</h3>
                <!-- {{allNotifcations |json}} -->
                <img src="https://static.wixstatic.com/media/5ef7f2_1929a11c50d34dd49f3c11e76b67faee~mv2.png/v1/fill/w_571,h_380,al_c,lg_1,q_85,enc_auto/img_0321.png" class="img-fluid" alt="">
            </div>

        </div>
    </div>

</section><!-- End About Section -->