<section id="faq" class="faq">

  <div class="container" data-aos="fade-up">

    <header class="section-header">
      <h2>F.A.Q</h2>
      <p>Frequently Asked Questions</p>
    </header>

    <div class="row">
      <div class="col-lg-12">
        <!-- F.A.Q List 1-->
        <div class="accordion accordion-flush" id="faqlist1">
          <div class="accordion-item">
            <h2 class="accordion-header">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                data-bs-target="#faq-content-1">
                What is a Private Limited Company?
              </button>
            </h2>
            <div id="faq-content-1" class="accordion-collapse collapse" data-bs-parent="#faqlist1">
              <div class="accordion-body">
                "A Private Limited Company is a popular and highly regulated legal entity in India, governed by the Companies Act, 2013. This type of company requires a minimum of two directors and shareholders, with one of the directors being an Indian resident and citizen."




              </div>
            </div>
          </div>

          <div class="accordion-item">
            <h2 class="accordion-header">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                data-bs-target="#faq-content-2">
                Documents Required for Company Registration

              </button>
            </h2>
            <div id="faq-content-2" class="accordion-collapse collapse" data-bs-parent="#faqlist1">
              <div class="accordion-body">
                <p>
                  The proposed directors of a private limited company must present the following documents as proof of identification in order to register a company:


                </p>
                <p>
                 <b>
                  Indian Nationals:
                 </b>  PAN card mandatory
                </p>
                <p>
                 <b>
                   Foreign Nationals:
                 </b> Passport is mandatory
                </p>
                <p>
                  In addition to the above document, the Directors must submit one of the following documents that contain the address of the Director.


                </p>

                <p>
                  <b>
                   Indian Nationals:
                  </b> Passport / Driver’s License / Election ID / Ration Card / Aadhar ID
                 </p>
                 <p>
                  <b>
                    Foreign Nationals:
                  </b> Drivers License / Bank Statement / Residence Card
                 </p>


              </div>
            </div>
          </div>

          <div class="accordion-item">
            <h2 class="accordion-header">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                data-bs-target="#faq-content-3">
                Private Limited Company Compliances
              </button>
            </h2>
            <div id="faq-content-3" class="accordion-collapse collapse" data-bs-parent="#faqlist1">
              <div class="accordion-body">
             
                <p>
                  Once a company is registered in India, various compliances must be maintained from time to time to avoid penalties and prosecution. The following are some of the compliances a company would be required to complete after company registration:


                </p>
                <p>
                  <b>
                    Auditor Appointment: 
                  </b>All companies registered in India must appoint a practicing and licensed Chartered Accountant registered with the ICAI within 30 days of incorporation.


                </p>
                <p>
                  <b> Director DIN KYC:  </b>All persons who hold a Director Identification Number (DIN) – which is allocated during the incorporation process must complete DIN KYC each year to validate the phone and email address on record with the Ministry of Corporate Affairs.


                </p>
                <p>
                  <b>Commencement of Business:</b>  Within 180 days of incorporation, the company must open a Bank Current Account and the shareholders must deposit the subscription amount mentioned in the MOA of the company. Hence, if the company was to be incorporated with a paid-up capital of Rs. 1 lakh, then the shareholders must deposit Rs. 1 lakh in the Company’s bank account and file the bank statement with the MCA to obtain a commencement of business certificate.


                </p>
                <p>
                  <b>MCA Annual Filings:</b>  All companies registered in India must file a copy of the financial statements with the Ministry of Corporate Affairs each financial year. If a company is incorporated between January – March, the company can choose to file the first MCA annual return as a part of the next financial year’s annual filing. MCA annual return consists of Form MGT-7 and Form AOC-4. Both these forms must be digitally signed by the Directors and a practising professional.


                </p>
                <p>

                  <b>Income Tax Filing:</b>  All companies must file an income tax return using Form ITR-6 each financial year. Income tax filing must be done for each financial year before the due date – irrespective of the incorporation date. The income tax return of a company must be digitally signed using one of the Director’s digital signature.


                </p>
              </div>
            </div>
          </div>
          <div class="accordion-item">
            <h2 class="accordion-header">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                data-bs-target="#faq-content-4">
                Advantages of Private Limited Company
              </button>
            </h2>
            <div id="faq-content-4" class="accordion-collapse collapse" data-bs-parent="#faqlist1">
              <div class="accordion-body">
            <p>
              The following are the major advantages of incorporating a private limited company in India versus other entity types.


            </p>
            <h4>Separate Legal Entity
            </h4>
            <p>
              A company is both a legal entity and a juristic person. Therefore, a company has broad legal rights to like acquiring property, incurring debts, hiring people, etc. As a company is a separate legal entity, the company's members (shareholders or directors) are not personally liable for the company's liability.


            </p>
            <h4>
              Limited Liability

            </h4>
            <p>
              A private limited company is a separate legal entity with limited liability provisions. Therefore, the shareholders are not liable for the losses of the company – for an amount more than what was invested by them into the company as share capital.


            </p>
            <h4>
              Uninterrupted Existence

            </h4>
            <p>
              A company has 'perpetual succession,' which means it will continue to exist until it is legally dissolved. Because a company is a separate legal entity, it is unaffected by the death or other departure of any of its members, and it continues to exist regardless of membership changes.


            </p>
            <h4>
              Fund Raising

            </h4>
            <p>
              A private limited company has multiple options for fundraising. A company can raise funds from shareholders, investors, angels, venture capital funds, private equity funds, foreign funds, NBFCs, banks and other financial institutions. Only a company can raise debt and equity funds from investors.


            </p>
            <h4>
              Disadvantages of Private Limited Company

            </h4>
            <p>
              While a company has various advantages, registering a company may not be ideal for all entrepreneurs due to the following reasons:


            </p>
            <h4>
              Compliances

            </h4>
            <p>
              A company has to mandatorily maintain various compliances irrespective of business turnover or activity. Hence, operating a company involves a minimum recurring cost each year.


            </p>
              </div>
            </div>
          </div>
          <div class="accordion-item">
            <h2 class="accordion-header">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                data-bs-target="#faq-content-5">
                Proprietorship vs Limited Liability Partnership (LLP) vs Company
              </button>
            </h2>
            <div id="faq-content-5" class="accordion-collapse collapse" data-bs-parent="#faqlist1">
              <div class="accordion-body">
                <div class="table-responsive">
                  <table class="table table-bordered table-striped m-b-0">
                    <thead>
                      <tr class="text-center lnk">
                        <th>Features</th>
                        <th><a href="https://ssadvisor.in/proprietorship">Proprietorship</a></th>
                        <th><a href="https://ssadvisor.in/partnership">Partnership</a></th>
                        <th><a href="https://ssadvisor.in/llp-registration">LLP</a></th>
                        <th>Company</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <th>Definition</th>
                        <td>Unregistered type of business entity managed by one single person</td>
                        <td>A formal agreement between two or more parties to manage and operate a business</td>
                        <td>A Limited Liability Partnership is a hybrid combination having features similar to a
                          partnership firm and liabilities similar to a company.</td>
                        <td>Registered type of entity with limited liability to the owners and shareholders</td>
                      </tr>
                      <tr>
                        <th>Ownership</th>
                        <td>
                          <ul class="list-icon list-icon-check list-icon-colored">
                            <li>Sole Ownership</li>
                          </ul>
                        </td>
                        <td>
                          <ul class="list-icon list-icon-check list-icon-colored">
                            <li>Min 2 Partners</li>
                            <li>Max 50 Partners</li>
                          </ul>
                        </td>
                        <td>
                          <ul class="list-icon list-icon-check list-icon-colored">
                            <li><a href="https://ssadvisor.in/learn/designated-partner-llp/">Designated
                                Partners</a></li>
                          </ul>
                        </td>
                        <td>
                          <ul class="list-icon list-icon-check list-icon-colored">
                            <li><a href="https://ssadvisor.in/learn/directors-responsibilities/">Min 2
                                Directors</a></li>
                            <li>Min 2 Shareholders</li>
                            <li>Max 15 Directors</li>
                            <li>Max 200 Shareholders</li>
                          </ul>
                          <hr><strong>For <a href="https://ssadvisor.in/one-person-company">One Person
                              Company</a></strong>
                          <ul class="list-icon list-icon-check list-icon-colored">
                            <li>1 Director</li>
                            <li>1 Nominee Director</li>
                          </ul>
                        </td>
                      </tr>
                      <tr>
                        <th>Registration Time</th>
                        <td colspan="4" class="text-center">7-9 working days </td>
                      </tr>
                      <tr>
                        <th>Promoter Liability</th>
                        <td colspan="2" class="text-center">Unlimited Liability</td>
                        <td colspan="2" class="text-center"><a
                            href="https://ssadvisor.in/learn/limited-liability-protection-in-llp/">Limited
                            Liability</a></td>
                      </tr>
                      <tr>
                        <th>Documentation</th>
                        <td>
                          <ul class="list-icon list-icon-check list-icon-colored">
                            <li><a href="https://ssadvisor.in/udyam-registration">MSME</a></li>
                            <li><a href="https://ssadvisor.in/gst-registration">GST Registration</a></li>
                          </ul>
                        </td>
                        <td>
                          <ul class="list-icon list-icon-check list-icon-colored">
                            <li><a href="https://ssadvisor.in/learn/partnership-deed-format/">Partnership
                                Deed</a></li>
                          </ul>
                        </td>
                        <td>
                          <ul class="list-icon list-icon-check list-icon-colored">
                            <li>LLP Deed</li>
                            <li>Incorporation Certificate</li>
                          </ul>
                        </td>
                        <td>
                          <ul class="list-icon list-icon-check list-icon-colored">
                            <li><a href="https://ssadvisor.in/learn/memorandum-of-association/">MOA</a></li>
                            <li><a href="https://ssadvisor.in/learn/articles-association/">AOA</a></li>
                            <li><a
                                href="https://ssadvisor.in/learn/companies-incorporation-2nd-amendment-rules-2021/">Incorporation
                                Certificate</a></li>
                          </ul>
                        </td>
                      </tr>
                      <tr>
                        <th>Governance</th>
                        <td align="center">-</td>
                        <td>Under Partnership Act</td>
                        <td><a
                            href="https://ssadvisor.in/learn/wp-content/uploads/2014/12/LLP-Act-2008.pdf">LLP
                            Act, 2008</a></td>
                        <td><a href="https://ssadvisor.in/learn/companies-act-2013/">Under Companies
                            Act,2013</a></td>
                      </tr>
                      <tr>
                        <th>Transferability</th>
                        <td>Non Transferable</td>
                        <td>Transferable if registered under ROF</td>
                        <td colspan="2" class="text-center">Transferable</td>
                      </tr>
                      <tr>
                        <th>Compliance Requirements</th>
                        <td>
                          <ul class="list-icon list-icon-check list-icon-colored">
                            <li>Income tax filing if turnover is more than Rs.2.5 lakhs</li>
                          </ul>
                        </td>
                        <td>
                          <ul class="list-icon list-icon-check list-icon-colored">
                            <li><a href="https://ssadvisor.in/itr-5-form">ITR 5 </a></li>
                          </ul>
                        </td>
                        <td>
                          <ul class="list-icon list-icon-check list-icon-colored">
                            <li><a href="https://ssadvisor.in/learn/llp-form-11-annual-return/">Form 11 </a>
                            </li>
                            <li><a href="https://ssadvisor.in/learn/llp-form-8/">Form 8 </a></li>
                            <li><a href="https://ssadvisor.in/itr-5-form">ITR 5 </a></li>
                          </ul>
                        </td>
                        <td>
                          <ul class="list-icon list-icon-check list-icon-colored">
                            <li><a href="https://ssadvisor.in/itr-6-form">ITR 6</a></li>
                            <li><a href="https://ssadvisor.in/learn/mca-filing-due-date-extension/">MCA
                                filing</a></li>
                            <li><a
                                href="https://ssadvisor.in/learn/appointment-of-auditor/">Auditor'sappointment</a>
                            </li>
                          </ul>
                          <span><a
                              href="https://ssadvisor.in/learn/private-limited-company-compliances/">Know
                              More</a></span>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>

    

    </div>

  </div>

</section><!-- End F.A.Q Section -->