  <!-- ======= F.A.Q Section ======= -->
  <section id="faq" class="faq">

    <div class="container" data-aos="fade-up">

      <header class="section-header">
        <h2>F.A.Q</h2>
        <p>Frequently Asked Questions</p>
      </header>

      <div class="row">
        <div class="col-lg-6">
          <!-- F.A.Q List 1-->
          <div class="accordion accordion-flush" id="faqlist1">
            <div class="accordion-item">
              <h2 class="accordion-header">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                  data-bs-target="#faq-content-1">
                  Who should file an ITR?
                </button>
              </h2>
              <div id="faq-content-1" class="accordion-collapse collapse" data-bs-parent="#faqlist1">
                <div class="accordion-body">
                    Every Indian including an NRI is required to file an Income tax return where Total Income exceeds the basic exemption limit of Rs. 2,50,000 for an individual; Rs. 3,00,000 in case of a senior citizen (60 years or above) and Rs. 5,00,000 in case of a super senior citizen (80 years or above).

                    Note: ITR filing is a very important task for every individual earning a certain amount and it is suggested to be filed as a good practice even if the earning limit is not met.
                </div>
              </div>
            </div>

            <div class="accordion-item">
              <h2 class="accordion-header">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                  data-bs-target="#faq-content-2">
                  What are the ways to reduce my total taxable income?
                </button>
              </h2>
              <div id="faq-content-2" class="accordion-collapse collapse" data-bs-parent="#faqlist1">
                <div class="accordion-body">
                    There are various sections as per the income tax act under which you can claim deductions against your total income (upto a defined limit) in a financial year such as Section 80C, 80CCD etc.
                </div>
              </div>
            </div>

            <div class="accordion-item">
              <h2 class="accordion-header">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                  data-bs-target="#faq-content-3">
                  Why are there different types of ITR forms and which one is for me?
                </button>
              </h2>
              <div id="faq-content-3" class="accordion-collapse collapse" data-bs-parent="#faqlist1">
                <div class="accordion-body">
                    Depending on the type of income, the category the taxpayer falls under, and the income the taxpayer makes, the relevant form must be chosen. TaxBuddy makes it super convenient for you to get through all of these processes in a jiffy.
                </div>
              </div>
            </div>

          </div>
        </div>

        <div class="col-lg-6">

          <!-- F.A.Q List 2-->
          <div class="accordion accordion-flush" id="faqlist2">

            <div class="accordion-item">
              <h2 class="accordion-header">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                  data-bs-target="#faq2-content-1">
                  Why should I file my ITR?
                </button>
              </h2>
              <div id="faq2-content-1" class="accordion-collapse collapse" data-bs-parent="#faqlist2">
                <div class="accordion-body">
                    As a responsible and compliant citizen, one is required to file tax returns. The benefits and importance of doing so are enlisted below:

                    ​
                    
                    To avoid a penalty: The tax department levies heavy fines on individuals who do not file and pay their taxes. As per section 234F, a fine of Rs.10,000 will be levied for failing to file tax returns.
                    
                     
                    
                    To obtain a loan from a bank: When applying for a loan to purchase a house/car or medical treatment, the ITR for the previous three years is a must. 
                </div>
              </div>
            </div>

            <div class="accordion-item">
              <h2 class="accordion-header">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                  data-bs-target="#faq2-content-2">
                  Can someone file an income tax return on my behalf? If yes, what about the charges?
                </button>
              </h2>
              <div id="faq2-content-2" class="accordion-collapse collapse" data-bs-parent="#faqlist2">
                <div class="accordion-body">
                    Conventionally speaking, you can always take the assistance of a tax practitioner or a CA to file your income tax returns or you can get in touch with TaxBuddy for smooth assistance coupled with discounted plans and offers
                </div>
              </div>
            </div>

            <div class="accordion-item">
              <h2 class="accordion-header">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                  data-bs-target="#faq2-content-3">
                  What are the due dates for FY 2021-22?
                </button>
              </h2>
              <div id="faq2-content-3" class="accordion-collapse collapse" data-bs-parent="#faqlist2">
                <div class="accordion-body">
                    Due dates for income tax as applicable for FY 2021-22 (AY 2022-23) are as follows:
                    - For Individual/HUF/ Firms, etc (non audit cases) - 31st July, 2022
                    - Assessee mentioned below in (a)/(b)/(c)  - 30th Sept, 2022
                    (a) Individual who is required to do Audit
                    (b) Partners of a firm whose accounts are audited
                    (c) Company
                    - Assessee who is required to furnish report of Transfer pricing u/s 92E - 30th Nov, 2022
                </div>
              </div>
            </div>

          </div>
        </div>

      </div>

    </div>

  </section><!-- End F.A.Q Section -->