
  <!-- ======= Services Section ======= -->
  <section id="services" class="services">

    <div class="container" data-aos="fade-up">

      <header class="section-header">
        <h2>Services</h2>
        <p>We Offer Below Services</p>
      </header>

      <div class="row gy-4">

        <div class="col-lg-3 col-md-6" data-aos="fade-up" data-aos-delay="200">
          <div class="service-box blue">
            <i class="ri-exchange-dollar-line icon"></i>
            <h3>Income Tax </h3>
            <p>Income tax is a tax that is levied on an individual's or a business's income or profits.



            </p>
            <a href="#" class="read-more"><span>Read More</span> <i class="bi bi-arrow-right"></i></a>
          </div>
        </div>

        <div class="col-lg-3 col-md-6" data-aos="fade-up" data-aos-delay="300">
          <div class="service-box orange">
            <!-- <i class="ri-discuss-line icon"></i> -->
            <i class="ri-briefcase-line icon"></i>
            <h3>GST Services</h3>
            <p>GST (Goods and Services Tax) services involve the collection and payment of a tax on the sale of goods
              and services in India.</p>

            <!-- <p>
              https://ssadvisor.in/gst-registration
            </p> -->
            <a href="#" class="read-more"><span>Read More</span> <i class="bi bi-arrow-right"></i></a>
          </div>
        </div>

        <div class="col-lg-3 col-md-6" data-aos="fade-up" data-aos-delay="400">
          <div class="service-box green">
            <i class="ri-file-list-3-line icon"></i>
            <h3>Valuation Services</h3>
            <p>Valuation services involve determining the worth or value of an asset, such as a business, real estate, or securities.



            </p>
            <a href="#" class="read-more"><span>Read More</span> <i class="bi bi-arrow-right"></i></a>
          </div>
        </div>

        <div class="col-lg-3 col-md-6" data-aos="fade-up" data-aos-delay="500">
          <div class="service-box red">
            <i class="ri-building-line icon"></i>
            <h3>Company Registration & ROC Compliances </h3>
            <p>
              Company registration and ROC (Registrar of Companies) compliance refers to the process of legally registering a company in India and ensuring that it adheres to all rules and regulations set by the ROC.




            </p>
            <p>Indian , foreign registration.</p>
            <a href="#" class="read-more"><span>Read More</span> <i class="bi bi-arrow-right"></i></a>
          </div>
        </div>

        <div class="col-lg-3 col-md-6" data-aos="fade-up" data-aos-delay="600">
          <div class="service-box purple">
            <i class="ri-trademark-line icon"></i>
            <h3>Trademark Registration</h3>
            <p>Trademark registration is the process of legally registering a symbol, word, or phrase as a trademark in
              order to protect it from unauthorized use. This can help to prevent confusion among consumers and can also
              serve as a valuable asset for businesses.</p>
              <!-- <p>
                https://ssadvisor.in/trademark-registration
              </p> -->
            <a href="#" class="read-more"><span>Read More</span> <i class="bi bi-arrow-right"></i></a>
          </div>
        </div>

        <div class="col-lg-3 col-md-6" data-aos="fade-up" data-aos-delay="700">
          <div class="service-box blue">
            <i class="ri-book-line icon"></i>
            <h3>Book Keeping
            </h3>
            <p>Bookkeeping involves the systematic recording, classification, and summarization of financial transactions to provide an accurate and up-to-date representation of a company's financial position.

            </p>
            <a href="#" class="read-more"><span>Read More</span> <i class="bi bi-arrow-right"></i></a>
          </div>
        </div>
        <div class="col-lg-3 col-md-6" data-aos="fade-up" data-aos-delay="700">
          <div class="service-box pink">
            <i class="ri-auction-line icon"></i>
            <h3>TDS Compliances</h3>
            <p>TDS (Tax Deducted at Source) compliance refers to the process of ensuring that the correct amount of tax is deducted from various payments made by an individual or a company, such as salary, rent, and professional fees.



            </p>
            <a href="#" class="read-more"><span>Read More</span> <i class="bi bi-arrow-right"></i></a>
          </div>
        </div>
        <div class="col-lg-3 col-md-6" data-aos="fade-up" data-aos-delay="700">
          <div class="service-box orange">
            <i class="ri-globe-line icon"></i>
            <h3>FEMA & RBI Compliances</h3>
            <p>FEMA (Foreign Exchange Management Act) and RBI (Reserve Bank of India) compliance refers to the process of adhering to the rules and regulations set by these two organizations related to foreign exchange and financial transactions in India.



            </p>
            <a href="#" class="read-more"><span>Read More</span> <i class="bi bi-arrow-right"></i></a>
          </div>
        </div>

      </div>

    </div>

  </section><!-- End Services Section -->