<section id="services" class="services">
  
    <div class="container" data-aos="fade-up">
  
      <header class="section-header">
        <h2>Benefits of</h2>
        <p> e-filing income tax returns (ITR)</p>
      </header>
  
      <div class="row gy-4">
  
        <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="200">
          <div class="service-box blue">
            <!-- <i class="ri-discuss-line icon"></i> -->

            <i class="ri-money-dollar-circle-line icon"></i>
            <h3>Avoid late fee
                penalties </h3>
            <p>Avoid a maximum penanlty of ₹10,000 if your annual income exceeds ₹5L</p>
            <a href="#" class="read-more"><span>Read More</span> <i class="bi bi-arrow-right"></i></a>
          </div>
        </div>
  
        <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="300">
          <div class="service-box orange">
            <!-- <i class="ri-discuss-line icon"></i> -->
            <i class="ri-file-copy-2-line icon"></i>
            <h3>Avoid tax
                notices</h3>
            <p>Taxpayers are often served notices from the IT department for delayed returns.</p>
            <a href="#" class="read-more"><span>Read More</span> <i class="bi bi-arrow-right"></i></a>
          </div>
        </div>
  
        <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="400">
          <div class="service-box green">
            <!-- <i class="ri-discuss-line icon"></i> -->
            <i class="ri-clipboard-fill icon"></i>
            <h3>Build financial
                documentation</h3>
            <p>Tax returns are proof of your financial investment and useful for loans and visas</p>
            <a href="#" class="read-more"><span>Read More</span> <i class="bi bi-arrow-right"></i></a>
          </div>
        </div>
  
        <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="500">
          <div class="service-box red">
            <!-- <i class="ri-discuss-line icon"></i> -->
            <i class="ri-chat-forward-line icon"></i>
            <h3>Carry forward
                your losses</h3>
            <p>You can carry forward losses against house property and depreciation.</p>
            <a href="#" class="read-more"><span>Read More</span> <i class="bi bi-arrow-right"></i></a>
          </div>
        </div>
  
        <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="600">
          <div class="service-box purple">
            <!-- <i class="ri-discuss-line icon"></i> -->
            <i class="ri-refund-2-line icon"></i>
            <h3>Claim tax
                refunds</h3>
            <p>You can claim tax refund, the earlier you file the sooner you will get the refund</p>
            <a href="#" class="read-more"><span>Read More</span> <i class="bi bi-arrow-right"></i></a>
          </div>
        </div>
  
        <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="700">
          <div class="service-box pink">
            <!-- <i class="ri-discuss-line icon"></i> -->
            <i class="ri-visa-line icon"></i>
            <h3>Quick
                visa processing</h3>
            <p>Most embassies and consulates require you to submit IT returns for the last 3 years</p>
            <a href="#" class="read-more"><span>Read More</span> <i class="bi bi-arrow-right"></i></a>
          </div>
        </div>
  
      </div>
  
    </div>
  
  </section>